/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Some Custom Codes for Color */
.honda-bg-danger{
    background-color: #E76F51;
}
.honda-danger{
    color: #E76F51;
}
.honda-bg-info{
    background-color: #264653;
}
.honda-bg-dark{
    background-color: #0B0D17;
}
.honda-text-dark1{
    color: #000;
}
.honda-text-dark2{
    color: #0A0826;
}
.honda-text-dark3{
    color: #18191F;
}
.honda-text-dark4{
    color: #6C6C6C;
}
.honda-text-dark5{
    color: #252B42;
}
/* Some Custom Codes for Font */
.honda-font{
    font-family: 'Poppins', sans-serif;
}
.honda-fw-3{
    font-weight: 300;
}
.honda-fw-5{
    font-weight: 500;
}
.honda-fw-6{
    font-weight: 600;
}
.honda-fs-14{
    font-style: 14px;
}
.honda-fs-16{
    font-size: 16px;
}
.honda-fs-18{
    font-size: 18px;
}
.honda-fs-48{
    font-size: 48px;
}
/* Some Custom Code for Margin and Padding */
.honda-mt-3{
    margin-top: 64px;
}
.honda-mt-5{
    margin-top: 165px;
}
/* Some Custom Codes for Element */
.honda-login{
    padding: 10px 24px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #E76F51;
    color: #fff;
}
.honda-login:hover{
    color: #fff;
}
.honda-purchase{
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 30px;
    background: #E76F51;
    border-radius: 5px;
    text-decoration: none;
    margin: 20px;
    display: inline-block;
}
.honda-purchase:hover{
    color: #fff;
}
.honda-readMore-btn{
    border: 1px solid #E76F51;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    color: #E76F51;
    margin-top: 40px;
    display: inline-block;
    transition: all .7s ease;
}
.honda-readMore-btn:hover{
    background-color: #E76F51;
    color: #fff;
}
.ratings{
    color: #E76F51;
    text-align: center;
}